<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    </head>
    <body>
        <h1> ECS 171 </h1>

        <script defer src=url_for('static', filename='js/home.js') type="module"></script>
    </body>
</html>