<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TraffBot</title>

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="preconnect" href="https://fonts.gstatic.com">

  <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap"
    rel="stylesheet">

  <link href="{{url_for('static', filename='css/reset.css')}}" rel="stylesheet" type="text/css"/>
  <link href="{{url_for('static', filename='css/home.css')}}" rel="stylesheet" type="text/css"/>
  <link rel="shortcut icon" href="{{url_for('static', filename='imgs/vr-glasses.png')}}" type="image/x-icon">

  <script defer src="{{url_for('static', filename='js/home.js')}}"></script>
</head>
<body>
  <nav>
    <div id="nav-box">
      <img src="{{url_for('static', filename='imgs/vr-glasses.png')}}"" id="logo">
      <h1>TraffBot</h1>
    </div>
  </nav>
  <div id="main-box">
    <h2>TraffBot: The Car Crash Calculator</h2>
    <div id="bottom-box">
      <div id="background-info">
        <h3>Did you just get into a car crash in California? <br>Want to know how long it'll take to clear up?</h3>
      </div>

      <div id="input-box">
        <div id="time-label-box">
          <label id="time-label">Enter the start time of the crash: </label>
        </div>

        <div id="time-box">
          <input id="time-input" type="time" required>
        </div>

      </div>

      <div id="calc-box">
        <input type="submit" id="calc" value="Calculate">
      </div>

      <div id="result-box">
        <h4 id="result"></h4>
      </div>
    </div>

  </div>

</body>
</html>